/*
!/.gitattributes
!/LICENSE-*
!/Makefile
!/NOTICE.md
!/README.md
!/docs/
!/examples/
examples/*
!/examples/demo/
!/examples/nginx/
!/go.mod
!/go.sum
!/scripts/
!/server/
server/*
!/server/*.go
!/server/src
server/src/js/vendor/
!/server/templates
!/server/config/
!/tools/

target/
*.test

publish.sh
.env*
*.pem
*.key
.DS_Store
*.swp
*.swo
__pycache__/
*.pyc
*.openrc
Cargo.lock
